name: TestFront
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

defaults:
      run:
        working-directory: ./reactpapptypescript

jobs:
  run-action:
    name: Run action
    runs-on: ubuntu-latest
    

    steps:
      - uses: actions/checkout@v2
      

      - name: Use Node.js 18.16.0
        uses: actions/setup-node@v2
        with:
          node-version: 18.16
          cache: 'npm'
          cache-dependency-path: ./reactpapptypescript/package-lock.json

      - name: Install dependencies
        working-directory: ./reactpapptypescript
        run: npm i

      - name: Build
        working-directory: ./reactpapptypescript
        run: npm run build

      - name: Run my action
        uses: ./
